@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SEMV_MRO_Tracking.Models.LoginModel
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Http



@{ //ViewData["Title"] = "Login Page";
                Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title SEMV-MRO Tracking</title>
    <!-- AdminLTE V3 -->
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <link href="~/lib/adminlte/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/lib/adminlte/plugins/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/adminlte/plugins/fontawesome-free/css/solid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/adminlte/dist/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page bg-gradient-success">
    <div class="login-box">
        <div class="login-logo">
            <span class="sentence d-inline"></span>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg text-dark">@ViewData["Message"]</p>
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.sesa_id, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "SESA ID", Required = true } })
                        <div class="input-group-append">
                            <span class="fa fa-user input-group-text"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @Type = "password", @class = "form-control", @PlaceHolder = "Password", Required = true } })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" name="submit" class="btn btn-success btn-block btn-flat"><i class="fa fa-sign-in"></i> Sign In</button>

                        </div>
                        <!-- /.col -->
                    </div>
                }


                <div class="social-auth-links text-center mb-3">
                    <img src="~/assets/logo.png" class="img-fluid" />
                </div>
                <!-- /.social-auth-links -->

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/adminlte/dist/js/adminlte.js"></script>
    <script src="~/lib/adminlte/plugins/typed/typed.min.js"></script>
    <script>$(document).ready(function () {
            // alert("hos");
            $(".alert").delay(2000).slideUp(200, function () {
                $(this).alert('close');
            });
        })

        var typed = new Typed('.sentence', {
            strings: ['SEMV-MRO Tracking', 'Schneider-Electric'],
            typeSpeed: 50,
            backSpeed: 30,
            smartBackspace: true,
            loop: true
        });</script>
</body>
</html>
