@model ViewModel
@{
    ViewData["Title"] = "User";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="card card-success">
                    <div class="card-header bg-success">
                        <h3 class="card-title"><i class="fa fa-table"></i> Master Data</h3>                       
                    </div>
                    <div class="card-body">
                        <table id="materialTable" class="table table-sm table-bordered table-striped" style="font-size:8pt;width:100%">
                            <thead>
                                <tr class="bg-success">
                                    <th style="display:none;">Id</th>
                                    <th class="align-middle text-center">Part Number</th>
                                    <th class="align-middle text-center">Barcode</th>
                                    <th class="align-middle text-center">Unit</th>
                                    <th class="align-middle text-center">Material Name</th>
                                    <th class="align-middle text-center">Material Desc</th>
                                    <th class="align-middle text-center">Stock</th>
                                    <th class="align-middle text-center">Safety Stock</th>
                                    <th class="align-middle text-center">Max Stock</th>
                                    <th class="align-middle text-center">Lead Time</th>
                                    <th class="align-middle text-center">Price</th>
                                    <th class="align-middle text-center">Total Value</th>
                                    <th class="align-middle text-center">Supplier Name</th>
                                    <th style="display:none;">Supplier Email</th>
                                    <th style="display:none;">Total Purchase</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ if (Model.MaterialDetails != null)
                                    {
                                        foreach (var item in Model.MaterialDetails)
                                        {
                                                                <tr>
                                                                    <td style="display:none;">@Html.DisplayFor(model => item.Id)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Part_Number)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Barcode)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Unit)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Material_Name)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Material_Desc)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Stock)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Safety_Stock)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Max_Stock)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Leadtime)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Price)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.TotalValue)</td>
                                                                    <td class="align-middle text-center">@Html.DisplayFor(model => item.Supplier_Name)</td>
                                                                    <td style="display:none;" class="align-middle text-center">@Html.DisplayFor(model => item.Supplier_Email)</td>
                                                                    <td style="display:none;" class="align-middle text-center">@Html.DisplayFor(model => item.Total_Purchase)</td>                                                                 
                                                                </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9" class="align-middle">No Data to Display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {

    <script>

        $(document).ready(function () {
            $("#materialTable").DataTable();
        });

              
    </script>

}
